.card-img-top {
  height: 350px;
  object-fit: cover;
}

.book-cover {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .book-cover {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}